:root {
  --bg: #1a1b26;
  --bg-light: #24283b;
  --fg: #c0caf5;
  --fg-dark: #a9b1d6;
  --gray: #565f89;
  --blue: #7aa2f7;
  --cyan: #7dcfff;
  --green: #9ece6a;
  --magenta: #bb9af7;
  --purple: #9d7cd8;
  --orange: #ff9e64;
  --yellow: #e0af68;
  --red: #f7768e;
  --teal: #1abc9c;
}

pre {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 10px 5px;
}

code.ziggy {
  color: var(--cyan);
}

code.ziggy .keyword,
code.ziggy .type {
  color: var(--light-yellow);
}

code.ziggy .string {
  color: var(--dark-yellow);
}

code.ziggy .numeric.constant {
  color: var(--magenta);
}

code.ziggy .function {
  color: var(--blue);
}
